body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #210124;
}

button {
    background: none;
    color: #a8763e;
    border: 2px solid;
    border-radius: 0.1em;
    padding: 1em 2em;
    font-size: 1em;
    transition: border-color 0.17s, color 0.17s, box-shadow 0.17s, transform 0.17s, border-radius 0.2s;
}

button:hover {
    border-color: #dbbd38;
    border-radius: 0.3em;
    color: aliceblue;
    box-shadow: 0 0.5em 0.5em -0.4em #dbbd38;
    transform: translateY(-0.25em);
    cursor: pointer;
}