h1 {
    text-align: center;
    color: red;
    font-size: 120px;
}

button {
    text-align: center;
    color: green;
    background-color: aqua
}

p {
    text-align: center;
    color: darkblue;
    background-color: aliceblue;
    line-height: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}