.libertinus-sans-regular {
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.libertinus-sans-bold {
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.libertinus-sans-regular-italic {
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

body {
  margin: 0;
}

section {
  width: 80%;
  height: 25vh;
  background-image: url("https://plus.unsplash.com/premium_photo-1755363512301-85733b301f4d?q=80&w=710&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  margin: 0 auto;
  background-size: auto;
  background-position: top;
  border-radius: 2em 1em 1em;
}

div {
  margin: auto 0;
}

h1 {
  font-size: 72pt;
  color: white;
  text-align: center;
}