img {
    width: 30%;
    margin: calc(10%/6);
}

nav {
    font-family: Bitter, serif;
    font-size: 32pt;
    font-weight: 700;
    text-transform: uppercase;
    width: 30%;
    margin-left: calc(10%/6);
    border-bottom: 2px solid #f1f1f1;
    padding: 0.5em 0
}