body {
    margin: 0;
}

h1 {
    background-color: #034078;
    padding: 10px;
    padding-left: 20px;
    color: white;
    text-align: center;
}

main {
    background-color: #1282A2;
    width: 75%;
    margin: 0 auto;
}

div {
    margin: 2%;
    width: 20%;
    color: white;
    text-align: center;
    border-radius: 20% 90% / 20%;
    padding: 3%;
    display: inline-block;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    background-color: #034078;
}

div:nth-of-type(even) {
    background-color: #9683ff;
}